/*.list_menu a.item {
    background: url("../images/icon_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.white_wrap{
	background:url(../images/header_bg.png);
	margin-bottom:11px;
	padding:7px 0px;
}
.white_wrap table tr td:first-child{
	padding-right:20px;
	width:100px;
}
.white_wrap table{
	width:500px;
}
.white_wrap table tr td{
	vertical-align:middle;
	text-align:left;
}*/

.list_menu a.item {
    background: url("../images/icon_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.white_wrap{
	background:url(../images/header_bg.png);
	margin-bottom:11px;
	padding:7px 0px;
}
.white_wrap table tr td:first-child{
	padding-right:20px;
	width:100px;
}
.white_wrap table{
	width:500px;
}
.white_wrap table tr td{
	vertical-align:middle;
	text-align:left;
}
.white_wrap .app_feature_list{
	float:none;
	width:auto;
}
.white_wrap .app_feature_list label{
	margin-bottom:0px;
	height:auto;
}